.idea
# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

.DS_Store
/dist
/temp
.mocharc.json
.dockerignore
.gitlab-ci.yml
Dockerfile
README.md
.npmrc
